<div class="container">


    <div class="row">
        <h1 class="text-center">Categories</h1>

        <div class="col-md-12 text-center button-group filter-button-group" (click)="onButtonGroupClick($event)">
            <!--
            <button type="button" [ngClass]="classList"
             *ngFor="let cat of productList.categoryList">{{cat}}</button>
-->
            <button type="button" value="*" class="btn btn-info rounded-pill mx-1 text-dark  active">All</button>
                
            <button type="button" [value]="cat" class="btn btn-info rounded-pill mx-1 text-dark "
                *ngFor="let cat of productList.categoryList">
                {{cat}}
            </button>

        </div>
    </div>
    <hr>
    <div class="row">
        <div [class]=" 'col-md-4 productItem '+product.category" *ngFor="let product of productList.productList">
            <div class="item">
                <h4>{{product.productName}}</h4>
                <p class="text-primary">${{product.price| number : '1.2-2'}}</p>
                <img [src]="product.imageUrl" alt="camera" class="img-fluid">
                <div class="overlay d-flex align-items-center justify-content-center ">
                    <a [routerLink]="['/details', product.id]" class="btn btn-unique" data-abc="true">View Details</a>
                    <a (click)="addTocart(product)" class="btn btn-unique-2" data-abc="true">Add to cart</a>
                </div><br>

            </div>
        </div>

    </div>
</div>